---
import { PLANS, COMPARISON_ROWS } from '../data/content.ts';
---

<div class="plan-table-wrap">
  <table class="plan-table">
    <colgroup>
      <col class="plan-table__feature-col" />
      {PLANS.map(() => <col class="plan-table__plan-col" />)}
    </colgroup>
    <thead>
      <tr>
        <th scope="col">Feature</th>
        {
          PLANS.map((plan) => (
            <th scope="col">{plan.name}</th>
          ))
        }
      </tr>
    </thead>
    <tbody>
      {
        COMPARISON_ROWS.map((row) => (
          <tr>
            <th scope="row">{row.label}</th>
            {
              PLANS.map((plan) => {
                const raw = plan.comparison[row.key];
                const value = row.format ? row.format(raw as boolean | string) : String(raw);
                return <td>{value}</td>;
              })
            }
          </tr>
        ))
      }
    </tbody>
  </table>
</div>
